[submodule "bundle/VimOrganizer"]
	path = bundle/VimOrganizer
	url = git@github.com:maxigit/VimOrganizer.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "textobj-fatpack"]
	path = textobj-fatpack
	url = https://github.com/vim-scripts/textobj-fatpack.git
[submodule "bundle/textobj-fatpack"]
	path = bundle/textobj-fatpack
	url = https://github.com/vim-scripts/textobj-fatpack.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
