[submodule "bundle/VimOrganizer"]
	path = bundle/VimOrganizer
	url = git@github.com:maxigit/VimOrganizer.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "textobj-fatpack"]
	path = textobj-fatpack
	url = https://github.com/vim-scripts/textobj-fatpack.git
[submodule "bundle/textobj-fatpack"]
	path = bundle/textobj-fatpack
	url = https://github.com/vim-scripts/textobj-fatpack.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "git"]
	path = git
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = http://github.com/chrisbra/NrrwRgn
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/doc"]
	path = bundle/doc
	url = git@github.com:maxigit/vimrc.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/https:"]
	path = bundle/https:
	url = git@github.com:maxigit/vimrc.git
[submodule "bundle/plugin"]
	path = bundle/plugin
	url = git@github.com:maxigit/vimrc.git
[submodule "bundle/quickfixsigns_vim"]
	path = bundle/quickfixsigns_vim
	url = http://github.com/tomtom/quickfixsigns_vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/threesome.vim"]
	path = bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/tjumps_vim"]
	path = bundle/tjumps_vim
	url = https://github.com/tomtom/tjumps_vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = http://github.com/tomtom/tlib_vim
[submodule "bundle/tregisters_vim"]
	path = bundle/tregisters_vim
	url = http://github.com/tomtom/tregisters_vim
[submodule "bundle/ttags_vim"]
	path = bundle/ttags_vim
	url = https://github.com/tomtom/ttags_vim.git
[submodule "bundle/ttoc_vim"]
	path = bundle/ttoc_vim
	url = http://github.com/tomtom/ttoc_vim
[submodule "bundle/vim-bufsurf"]
	path = bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = git@github.com:maxigit/vim-distinguished.git
[submodule "bundle/vim-editqf"]
	path = bundle/vim-editqf
	url = git://github.com/jceb/vim-editqf.git
[submodule "bundle/vim-fastwordcompleter"]
	path = bundle/vim-fastwordcompleter
	url = https://github.com/jceb/vim-fastwordcompleter.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = https://github.com/taq/vim-rspec.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = http://github.com/tpope/vim-speeddating
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim/
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-unbundle"]
	path = bundle/vim-unbundle
	url = https://github.com/sunaku/vim-unbundle.git
[submodule "ftbundle/ruby/vim-rails"]
	path = ftbundle/ruby/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/voom"]
	path = bundle/voom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "ftbundle/org/vim-orgmode"]
	path = ftbundle/org/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "ftbundle/markdown/vim-markdown"]
	path = ftbundle/markdown/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vimpager"]
	path = bundle/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "ftbundle/vim-ruby"]
	path = ftbundle/vim-ruby
	url = https://github.com/tooky/vim-ruby.git
[submodule "bundle/vim-ham"]
	path = bundle/vim-ham
	url = https://github.com/tpope/vim-haml.git
